<ion-content [fullscreen]="true">
  <swiper [pagination]="true">
    <ng-template class="ion-padding-vertical" swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-finn-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
              turpis bibendum, accumsan leo vitae, cursus ipsum. Praesent
              feugiat justo sed porttitor hendrerit. Vivamus dictum, eros sit
              amet efficitur iaculis, magna eros consectetur odio, et
              condimentum dolor dui et ipsum
            </p></ion-col
          ></ion-row
        >
      </ion-grid>
    </ng-template>
    <ng-template class="ion-padding-vertical" swiperSlide
      ><ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-jake-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
              turpis bibendum, accumsan leo vitae, cursus ipsum. Praesent
              feugiat justo sed porttitor hendrerit. Vivamus dictum, eros sit
              amet efficitur iaculis, magna eros consectetur odio, et
              condimentum dolor dui et ipsum
            </p></ion-col
          ></ion-row
        >
      </ion-grid></ng-template
    >
    <ng-template class="ion-padding-vertical" swiperSlide
      ><ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-super-mario-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col size="12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
              turpis bibendum, accumsan leo vitae, cursus ipsum. Praesent
              feugiat justo sed porttitor hendrerit. Vivamus dictum, eros sit
              amet efficitur iaculis, magna eros consectetur odio, et
              condimentum dolor dui et ipsum
            </p></ion-col
          >
          <ion-col class="ion-padding-vertical" size="12">
            <ion-button>iniziamo, un'altra volta</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </swiper>
</ion-content>
