<ion-content [fullscreen]="true">
  <swiper
    class="swiperFull"
    [pagination]="{
    type: 'progressbar'
  }"
    [navigation]="true"
  >
    <ng-template class="ion-padding-vertical" swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-finn-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col>
            <p>
              "I sette re" è un gioco di società dove lo scopo è conoscersi
              meglio.
            </p></ion-col
          ></ion-row
        >
      </ion-grid>
    </ng-template>
    <ng-template class="ion-padding-vertical" swiperSlide
      ><ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-jake-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col>
            <p>
              All'inizio di ogni turno, si riempiono i bicchieri, dopodichè
              verrà proposta uno spunto di conversazione, sotto forma di
              domanda. A questo punto, ogni giocatore dirà la sua sul tema in
              questione; le domande verranno discusse fino a che tutti i
              bicchieri sono svuotati oppure se si decide all'unanimità di
              premere il pulsante "Passa il turno".
            </p></ion-col
          ></ion-row
        >
      </ion-grid></ng-template
    >
    <ng-template class="ion-padding-vertical" swiperSlide
      ><ion-grid>
        <ion-row>
          <ion-col
            ><img src="/assets/testicons/icons8-super-mario-256(-xxxhdpi).png"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col size="12"> <p></p></ion-col>
          <ion-col class="ion-padding-vertical" size="12">
            <ion-button routerLink="/loop-gioco">Iniziamo!</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </swiper>
</ion-content>
